.forgot-password {
  background-color: black;
  height: 200px;
  width: 600px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgot-password h4 {
  color: white;
  margin-bottom: 10px;
}
.forgot-password form input {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  border: none;
}

.forgot-password form button {
  height: 44px;
  margin-left: 5px;
  padding: 10px;
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.forgot-password.light-mode {
  background-color: var(--background-white);
  color: black;
}
.forgot-password.light-mode h4 {
  color: black;
}
.forgot-password.light-mode form input {
  border: 1px solid gray;
}

.form-container {
  text-align: center;
}

.input-field {
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}
.forgot-password form .email-input {
  margin-top: 20px;
}
.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Reset Password */
.reset-password-form-container {
  max-width: 400px;
  margin: 0 auto;
}

.new-password-input,
.confirm-password-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-submit-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 800px) {
  .forgot-password form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forgot-password form button {
    width: 150px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .forgot-password {
    width: 100%;
  }
  .forgot-password form .input-field {
    width: 100%;
  }
  .new-password-input,
  .confirm-password-input {
    width: 90%;
  }
  .reset-password-submit-button {
    width: 90%;
  }
}
