.genre-create {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(9, 9, 9, 0.4);
}
.genre-create h2 {
  text-align: center;
}
.genre-create form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 250px;
}
.genre-create form .title-container {
  width: 70%;
}
.genre-create form .title-container label {
  font-size: large;

  font-weight: bold;
  color: black;
}
.genre-create form input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: large;
  padding: 0px 14px 0px 14px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid;

  margin-right: 10px;
}
.genre-create form button {
  align-self: flex-end;
  width: 100px;
  padding: 13px;
  border-radius: 5px;
  margin-right: 13%;
  border: none;
  background-color: rgb(155, 45, 64);
  color: white;
  font-size: larger;
  cursor: pointer;
}
.genre-create .error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 765px) {
  .genre-create form {
    height: 300px;
  }
  .genre-create form .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: white;
  }
  .genre-create form .title-container label {
    font-weight: bold;
  }
  .genre-create form input {
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .genre-create form button {
    align-self: center;
    margin-right: 0px;
  }
}
