:root {
    --primary-color: #007bff;
    --secondary-color: #ff5733;
    --font-family: " Roboto";
    --background-color-light-mode: rgba(255, 255, 255, 0.01);
    --background-color-dark-mode: rgba(0, 0, 0, 0.7);
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
    --background-white: white;
    --font-family-roboto: "Roboto";
  }