/* CSS for filter component */
.filter-container {
  width: 250px;
  background-color: rgb(24, 24, 24);
  margin: 20px;
  min-height: 400px;
  max-height: 500px;
  padding: 20px;
  border-radius: 10px;
}
.filter-container.light-mode {
  background-color: white;
  color: black;
}

.filter-container.tablet {
  position: absolute;
  width: 280px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  top: 35px;
  left: -9px;
}
.filter-container.tablet .rating-text {
  color: white;
}
.filter-container.light-mode.tablet .rating-text {
  color: black;
}
.filter-container h3 {
  margin-bottom: 10px;
  color: rgb(147, 133, 135);
}
.filter-container.light-mode h3 {
  color: black;
}
.filters {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.filters .filter-title-clear-button {
  display: flex;
  justify-content: space-between;
}
.filter-clear-button {
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 13px;
}
.filters-items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.filters-items .clear-icon-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filters-items span {
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(227, 221, 221);
  color: black;
  margin: 0px 2px 4px 0px;
  cursor: pointer;
}
.filters-items span:hover {
  text-decoration: line-through;
}
.genre-filter {
  height: 80px;
  margin-bottom: 20px;
}
.genre-filter select {
  height: 40px;
  width: 210px;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(224, 219, 219);
}

.ratings-filter .ratings-checkboxes .rating-item input {
  margin-right: 10px;
}
.filter-rating-icon {
  font-size: 10px;
  color: rgb(197, 168, 2);
}

.rating-text {
  color: white;
}
.filter-container.light-mode .rating-text {
  color: black;
}

/* Media query for tablets */
@media screen and (max-width: 1200px) {
  .filter-container {
    width: 325px;
    min-height: 250px;
  }
  .ratings-filter .ratings-checkboxes {
    margin-right: 0px;
    display: flex;
    gap: 18px;
    align-items: center;
  }
  .ratings-filter .ratings-checkboxes .rating-item {
    display: flex;
    align-items: center;
  }
  .ratings-filter .ratings-checkboxes .rating-item input {
    margin-right: 4px;
  }
  .genre-filter {
    display: flex;
    align-items: center;
    justify-content: initial;
    height: 40px;
  }
  .genre-filter select {
    height: 25px;
    width: 150px;
  }
  .genre-filter h3 {
    padding-top: 10px;
    margin-right: 20px;
  }
  .filter-container h3 {
    font-size: 15px;
  }
}
